/* здесь используйте глобальные переменные */
//Цвета:
$basic-white: #ffffff;
$basic-black: #000000;
$primary-color: #444444;
$very-dark-grey: #111111;
$card-heading-color: #222222;
$bg-basic-green: #68b738;

//Шрифты:
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
