.example {

}

.example__heading {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $basic-black;
}

.example__text {

}

.example__slider {

}

.example__fat-cat-image {

}

.example__thin-cat-image {

}
