.instructions {

}

.instructions__heading {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $basic-black;
}

.instructions__list {

}

.instructions__item {

}

.instructions__text {

}
