.main-navigation {

}

.main-navigation__close {
  display: none;
  width: 18px;
  height: 18px;
  background-color: $basic-black;
  mask-image: url("../../icons/stack.svg#close-menu-mobile");
  mask-position: center;
  mask-repeat: no-repeat;
}

.main-navigation__toggle {
  display: block;
  width: 24px;
  height: 24px;
  background-color: $basic-black;
  mask-image: url("../../icons/stack.svg#menu-toggle-mobile");
  mask-position: center;
  mask-repeat: no-repeat;
}

.main-navigation__wrapper {

}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__item {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.main-navigation__item--current {

}

.main-navigation__link {
  text-decoration: none;
  color: inherit;
}
