.program-card {

}

.program-card__heading {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
}

.program-card__text {

}

.program-card__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.program-card__link::after {
  content: "";
  width: 24px;
  height: 12px;
  background-color: $basic-black;
  position: absolute;
  right: -35px;
  top: 6px;
  mask-image: url("../../icons/stack.svg#arrow-button");
  mask-position: center;
  mask-repeat: no-repeat;
}
