.social {

}

.social__item {

}

.social__item--vk {

}

.social__link {

}

.social__link--vk {
  display: block;
  height: 17px;
  width: 27px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#vk-logo");
  mask-position: center;
  mask-repeat: no-repeat;
}

.social__item--youtube {

}

.social__link--youtube {
  display: block;
  height: 19px;
  width: 24px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#youtube-logo");
  mask-position: center;
  mask-repeat: no-repeat;
}

.social__item--telegram {

}

.social__link--telegram {
  display: block;
  height: 17px;
  width: 20px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#telegram-logo");
  mask-position: center;
  mask-repeat: no-repeat;
}
