.sub-products-gift {
  background-image: url("../../images/gift-background-mobile@1x.jpg");
  width: 280px;
  height: 290px;
}

.sub-products-gift__text {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  background-color: rgba(104, 183, 56, 0.85);
  width: inherit;
  height: inherit;
  position: relative;
}

.sub-products-gift__text::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  background-color: $basic-white;
  mask-image: url("../../icons/stack.svg#icon-gift");
  mask-position: center;
  mask-repeat: no-repeat;
}
