.sub-products {

}

.sub-products__wrapper {

}

.sub-products__heading {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.sub-products__list {
margin: 0;
padding: 0;
list-style: none;
}

.sub-products__item {

}
